<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaudRate" value="9600"/>
    <add key="PortName" value="COM1"/>
    <add key="DataBits" value="8"/>
    <add key="StopBits" value="1"/>
    <add key ="WriteFilePath" value="D:\WriteMe.txt"/>
  </appSettings>
</configuration>